*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: inline-block;
    align-items: center;
    height: 100%;

}h1{
    padding-right: 16px;
    margin-top: 16px;
    text-transform: capitalize;
    text-align: center;
    padding: 40px;
}
      .buy,
      .poll {
        font-size: 1.6rem;
        padding: 24px;
        /* position: absolute; */
        top: 2rem;
        margin: auto;
      }
      .buy {
        left: 16px;
      }
      .poll {
        right:16px;
        padding-left: 24px;
      }

